wsdls/BroadcastService.wsdl.xml

<?xml version="1.0" encoding="UTF-8"?><?xml-stylesheet type="text/xsl" href="wsdl-viewer-mod.xsl"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://uicds.org/BroadcastService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sch="http://uicds.org/BroadcastService" targetNamespace="http://uicds.org/BroadcastService">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:de="urn:oasis:names:tc:emergency:EDXL:DE:1.0" xmlns:s="http://niem.gov/niem/structures/2.0" elementFormDefault="qualified" targetNamespace="http://uicds.org/BroadcastService">
	<import namespace="urn:oasis:names:tc:emergency:EDXL:DE:1.0" schemaLocation="../../../external/niem/external/de/1.0/de.xsd"/>
	<import namespace="http://niem.gov/niem/structures/2.0" schemaLocation="../../../external/niem/structures/2.0/structures.xsd"/>
	<complexType name="BroadcastMessageType">
		<complexContent>
			<extension base="s:ComplexObjectType">
				<sequence>
					<element ref="de:EDXLDistribution"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="BroadcastMessageRequest" type="tns:BroadcastMessageType"/>

    <element name="BroadcastMessageResponse" type="tns:BroadcastMessageResponseType">   
    </element>


    <complexType name="BroadcastMessageResponseType">
        <sequence>
            <element name="errorExists" type="boolean"/>
            <element maxOccurs="1" minOccurs="0" name="errorString" type="string"/>
            <element maxOccurs="unbounded" minOccurs="0" name="coreError" type="tns:BroadcastMessageErrorType">
            </element>
        </sequence>
    </complexType>

    <complexType name="BroadcastMessageErrorType">
        <sequence>
            <element name="coreName" type="string"/>
            <element name="error" type="string"/>
        </sequence>
    </complexType>
</schema>
  </wsdl:types>
  <wsdl:message name="BroadcastMessageResponse">
    <wsdl:part element="tns:BroadcastMessageResponse" name="BroadcastMessageResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="BroadcastMessageRequest">
    <wsdl:part element="tns:BroadcastMessageRequest" name="BroadcastMessageRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BroadcastService">
    <wsdl:operation name="BroadcastMessage">
      <wsdl:input message="tns:BroadcastMessageRequest" name="BroadcastMessageRequest">
    </wsdl:input>
      <wsdl:output message="tns:BroadcastMessageResponse" name="BroadcastMessageResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BroadcastServiceSoap11" type="tns:BroadcastService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="BroadcastMessage">
      <soap:operation soapAction=""/>
      <wsdl:input name="BroadcastMessageRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="BroadcastMessageResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BroadcastServiceService">
    <wsdl:port binding="tns:BroadcastServiceSoap11" name="BroadcastServiceSoap11">
      <soap:address location="https://127.0.0.1:443/uicds/core/ws/services/BroadcastService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>