wsdls/LEITSCService.wsdl.xml

<?xml version="1.0" encoding="UTF-8"?><?xml-stylesheet type="text/xsl" href="wsdl-viewer-mod.xsl"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://uicds.org/LEITSCService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sch="http://uicds.org/LEITSCService" targetNamespace="http://uicds.org/LEITSCService">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:precisb="http://www.saic.com/precis/2009/06/base" xmlns:preciss="http://www.saic.com/precis/2009/06/structures" elementFormDefault="qualified" targetNamespace="http://uicds.org/LEITSCService">
    <import namespace="http://www.saic.com/precis/2009/06/base" schemaLocation="../../../precis/2009/06/BaseTypes.xsd"/>
    <import namespace="http://www.saic.com/precis/2009/06/structures" schemaLocation="../../../precis/2009/06/Structures.xsd"/>
    
    <element name="PostDetailedCFSMessageRequest">
        <complexType>
            <sequence>
                <any/>
            </sequence>
        </complexType>
    </element>

    <element name="PostDetailedCFSMessageResponse">
        <complexType>
            <sequence>
                <element name="leitscIncidentID" type="string"/>
            </sequence>
        </complexType>
    </element>

    <element name="GetLEITSCIncidentRequest">
        <complexType>
            <sequence>
                <element name="leitscIncidentID" type="string"/>
            </sequence>
        </complexType>
    </element>

    <element name="GetLEITSCIncidentResponse">
        <complexType>
            <sequence>
                <element ref="preciss:WorkProduct"/>
            </sequence>
        </complexType>
    </element>
</schema>
  </wsdl:types>
  <wsdl:message name="GetLEITSCIncidentRequest">
    <wsdl:part element="tns:GetLEITSCIncidentRequest" name="GetLEITSCIncidentRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="PostDetailedCFSMessageResponse">
    <wsdl:part element="tns:PostDetailedCFSMessageResponse" name="PostDetailedCFSMessageResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="PostDetailedCFSMessageRequest">
    <wsdl:part element="tns:PostDetailedCFSMessageRequest" name="PostDetailedCFSMessageRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetLEITSCIncidentResponse">
    <wsdl:part element="tns:GetLEITSCIncidentResponse" name="GetLEITSCIncidentResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="LEITSCService">
    <wsdl:operation name="GetLEITSCIncident">
      <wsdl:input message="tns:GetLEITSCIncidentRequest" name="GetLEITSCIncidentRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetLEITSCIncidentResponse" name="GetLEITSCIncidentResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostDetailedCFSMessage">
      <wsdl:input message="tns:PostDetailedCFSMessageRequest" name="PostDetailedCFSMessageRequest">
    </wsdl:input>
      <wsdl:output message="tns:PostDetailedCFSMessageResponse" name="PostDetailedCFSMessageResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LEITSCServiceSoap11" type="tns:LEITSCService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetLEITSCIncident">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetLEITSCIncidentRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetLEITSCIncidentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostDetailedCFSMessage">
      <soap:operation soapAction=""/>
      <wsdl:input name="PostDetailedCFSMessageRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="PostDetailedCFSMessageResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LEITSCServiceService">
    <wsdl:port binding="tns:LEITSCServiceSoap11" name="LEITSCServiceSoap11">
      <soap:address location="https://127.0.0.1:443/uicds/core/ws/services/LEITSCService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>