wsdls/TaskingService.wsdl.xml

<?xml version="1.0" encoding="UTF-8"?><?xml-stylesheet type="text/xsl" href="wsdl-viewer-mod.xsl"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://uicds.org/TaskingService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sch="http://uicds.org/TaskingService" targetNamespace="http://uicds.org/TaskingService">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wstop="http://docs.oasis-open.org/wsn/t-1" xmlns:ns1="http://uicds.org/TaskingService" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:Q1="http://uicds.org/WorkProductService" xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:wsnt="http://docs.oasis-open.org/wsn/b-2" xmlns:preciss="http://www.saic.com/precis/2009/06/structures" elementFormDefault="qualified" targetNamespace="http://uicds.org/TaskingService">

    <import namespace="http://niem.gov/niem/niem-core/2.0" schemaLocation="../../../external/niem/niem-core/2.0/niem-core.xsd"/>
    <import namespace="http://docs.oasis-open.org/wsn/b-2" schemaLocation="../../../ws-notification/WS-BaseNotification-1_3.xsd"/>
    <import namespace="http://docs.oasis-open.org/wsn/t-1" schemaLocation="../../../ws-notification/WS-Topics-1_3.xsd"/>
    <import namespace="http://www.w3.org/2005/08/addressing" schemaLocation="../../../ws-notification/WS-Addressing-2005_08.xsd"/>
    <import namespace="http://www.saic.com/precis/2009/06/structures" schemaLocation="../../../precis/2009/06/Structures.xsd"/>
    <import namespace="http://uicds.org/WorkProductService" schemaLocation="../../../services/WorkProduct/0.1/WorkProductService.xsd"/>

    <element name="CreateTaskListRequest">
        <complexType>
            <all>
                <element maxOccurs="1" minOccurs="0" name="entityID" type="anyURI"/>
                <element name="incidentId" type="string"/>
                <element name="TaskList" type="ns1:TaskListType"/>
            </all>
        </complexType>
    </element>
    <element name="CreateTaskListResponse">
        <complexType>
            <sequence>
                <element ref="Q1:WorkProductPublicationResponse"/>
            </sequence>
        </complexType>
    </element>
    <element name="GetTaskListRequest">
        <complexType>
            <all>
                <element ref="preciss:WorkProductIdentification"/>
            </all>
        </complexType>
    </element>
    <element name="GetTaskListResponse">
        <complexType>
            <sequence>
                <element ref="preciss:WorkProduct"/>
            </sequence>
        </complexType>
    </element>
    <element name="GetTaskListByIdRequest">
        <complexType>
            <all>
                <element name="entityID" type="anyURI"/>
                <element name="incidentId" type="string"/>
            </all>
        </complexType>
    </element>
    <element name="GetTaskListByIdResponse">
        <complexType>
            <sequence>
                <element ref="preciss:WorkProduct"/>
            </sequence>
        </complexType>
    </element>
    <element name="UpdateTaskListRequest">
        <complexType>
            <all>
                <element ref="preciss:WorkProductIdentification"/>
                <element name="TaskList" type="ns1:TaskListType"/>
            </all>
        </complexType>
    </element>
    <element name="UpdateTaskListResponse">
        <complexType>
            <sequence>
                <element ref="Q1:WorkProductPublicationResponse"/>
            </sequence>
        </complexType>
    </element>
    <!-- delete this oepration, to use WorkProductServic's closeProduct/archiveProduct
    <element name="DeleteTaskListRequest">
        <complexType>
            <all>
                <element ref="preciss:WorkProductIdentification" />
            </all>
        </complexType>
    </element>
    <element name="DeleteTaskListResponse">
        <complexType>
            <sequence>
                <element ref="Q1:WorkProductPublicationResponse" />
            </sequence>
        </complexType>
    </element>
    -->
    <complexType name="TaskType">
        <sequence>
            <element name="taskID" type="anyURI"/>
            <element name="description" type="string"/>
            <element name="priority" type="int"/>
            <element name="assignedTo">
                <complexType>
                    <sequence>
                        <element name="id" type="anyURI"/>
                        <element name="assigned" type="dateTime"/>
                        <element name="accepted" type="dateTime"/>
                    </sequence>
                </complexType>
            </element>
            <element name="assignedBy">
                <complexType>
                    <sequence>
                        <element name="id" type="anyURI"/>
                        <element name="assigned" type="dateTime"/>
                    </sequence>
                </complexType>
            </element>
            <element name="status">
                <complexType>
                    <sequence>
                        <element maxOccurs="unbounded" minOccurs="0" name="Status"/>
                    </sequence>
                </complexType>
            </element>
            <element name="dueDate" type="dateTime"/>
        </sequence>
    </complexType>
    <complexType name="TaskListType">
        <sequence>
            <element minOccurs="0" name="entityId" type="anyURI"/>
            <element maxOccurs="unbounded" minOccurs="0" name="Task" type="ns1:TaskType"/>
        </sequence>
    </complexType>
    <element name="TaskList" type="ns1:TaskListType"/>
</schema>
  </wsdl:types>
  <wsdl:message name="UpdateTaskListRequest">
    <wsdl:part element="tns:UpdateTaskListRequest" name="UpdateTaskListRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateTaskListResponse">
    <wsdl:part element="tns:UpdateTaskListResponse" name="UpdateTaskListResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetTaskListByIdResponse">
    <wsdl:part element="tns:GetTaskListByIdResponse" name="GetTaskListByIdResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetTaskListResponse">
    <wsdl:part element="tns:GetTaskListResponse" name="GetTaskListResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CreateTaskListRequest">
    <wsdl:part element="tns:CreateTaskListRequest" name="CreateTaskListRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetTaskListByIdRequest">
    <wsdl:part element="tns:GetTaskListByIdRequest" name="GetTaskListByIdRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetTaskListRequest">
    <wsdl:part element="tns:GetTaskListRequest" name="GetTaskListRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CreateTaskListResponse">
    <wsdl:part element="tns:CreateTaskListResponse" name="CreateTaskListResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="TaskingService">
    <wsdl:operation name="UpdateTaskList">
      <wsdl:input message="tns:UpdateTaskListRequest" name="UpdateTaskListRequest">
    </wsdl:input>
      <wsdl:output message="tns:UpdateTaskListResponse" name="UpdateTaskListResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaskListById">
      <wsdl:input message="tns:GetTaskListByIdRequest" name="GetTaskListByIdRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetTaskListByIdResponse" name="GetTaskListByIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaskList">
      <wsdl:input message="tns:GetTaskListRequest" name="GetTaskListRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetTaskListResponse" name="GetTaskListResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateTaskList">
      <wsdl:input message="tns:CreateTaskListRequest" name="CreateTaskListRequest">
    </wsdl:input>
      <wsdl:output message="tns:CreateTaskListResponse" name="CreateTaskListResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TaskingServiceSoap11" type="tns:TaskingService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="UpdateTaskList">
      <soap:operation soapAction=""/>
      <wsdl:input name="UpdateTaskListRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="UpdateTaskListResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaskListById">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetTaskListByIdRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetTaskListByIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaskList">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetTaskListRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetTaskListResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateTaskList">
      <soap:operation soapAction=""/>
      <wsdl:input name="CreateTaskListRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CreateTaskListResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TaskingServiceService">
    <wsdl:port binding="tns:TaskingServiceSoap11" name="TaskingServiceSoap11">
      <soap:address location="https://127.0.0.1:443/uicds/core/ws/Services/TaskingService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>